<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.gots"
    android:versionCode="22"
    android:versionName="0.24" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        android:required="false" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- STORE WEATHER CACHE AND VEGETABLE PHOTOS -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- REMINDER DOING GARDENG TASK -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- LOGIN WITH GARDENING MANAGER SERVER USING LOCAL ACCOUNTS -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <!--
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    -->

    <application
        android:debuggable="true"
        android:icon="@drawable/launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sherlock" >
        <activity
            android:name=".ui.SplashScreenActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Styled" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MyMainGarden"
            android:theme="@style/Theme.Styled" />
        <activity
            android:name=".ui.DashboardActivity"
            android:theme="@style/Theme.Styled" >
        </activity>
        <activity android:name=".ui.AllotmentActivity" />
        <activity
            android:name=".ui.SeedActivity"
            android:theme="@style/Theme.Styled" />
        <activity android:name=".ui.CameraView" />
        <activity android:name=".ui.VendorListActivity" />
        <activity
            android:name=".ui.ProfileActivity"
            android:theme="@style/Theme.Styled" >
        </activity>
        <activity
            android:name=".ui.ProfileCreationActivity"
            android:theme="@style/Theme.Styled" />
        <activity
            android:name=".ui.ListActionActivity"
            android:theme="@style/Theme.Styled" />
        <activity
            android:name=".ui.ActionActivity"
            android:theme="@style/Theme.Styled" />
        <activity android:name=".ui.NewActionActivity" />
        <activity
            android:name=".ui.AboutActivity"
            android:theme="@style/Theme.Styled" />
        <activity
            android:name=".ui.WebHelpActivity"
            android:theme="@style/Theme.Styled" />
        <activity
            android:name=".ui.TabSeedActivity"
            android:theme="@style/Theme.Styled" />
        <activity android:name=".ui.WebViewActivity" />
        <activity
            android:name=".ui.HutActivity"
            android:theme="@style/Theme.Styled" />
        <activity android:name=".ui.MySeedsListActivity" />
        <activity android:name=".ui.MySeedsListFirstTimeActivity" />
        <activity
            android:name=".ui.NewSeedActivity"
            android:theme="@style/Theme.Styled" />
        <activity
            android:name=".ui.AccountList"
            android:theme="@style/Theme.Styled" />
        <activity
            android:name=".ui.LoginActivity"
            android:theme="@style/Theme.Styled" >
            <intent-filter>
                <data
                    android:host="my.gardening-manager.com"
                    android:path="/login"
                    android:scheme="http" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.FirstLaunchActivity"
            android:theme="@style/Theme.Styled" />
        <activity
            android:name="com.google.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
        <activity
            android:name=".ui.PreferenceActivity"
            android:theme="@style/Theme.Styled" />
        <!--
        <provider
        android:authorities="org.gots.providers.seeds
        android:name="org.gots.providers.SeedSQLite" />
        -->
        <receiver android:name=".service.BootBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".action.service.ActionTODOBroadcastReceiver" >
        </receiver>
        <receiver android:name=".seed.service.SeedBroadcastReceiver" >
        </receiver>
        <receiver android:name=".garden.GardenManager" >
            <intent-filter android:priority="100" >
                <action android:name="org.gots.broadcast.BroadCastMessages.CONNECTION_SETTINGS_CHANGED" />
            </intent-filter>
        </receiver>

        <service android:name=".action.service.ActionNotificationService" />
        <service android:name=".weather.service.WeatherUpdateService" />
        <service android:name=".seed.service.SeedUpdateService" />
    </application>

</manifest>