<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1005000" android:versionName="1.6.0-SNAPSHOT" package="org.gots">

    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="22"/>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" android:required="false"/>

    <uses-feature android:name="android.hardware.location.gps" android:required="false"/>
    <uses-feature android:name="android.hardware.location" android:required="false"/>

    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- STORE WEATHER CACHE AND VEGETABLE PHOTOS -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:required="false"/>

    <!-- REMINDER DOING GARDENG TASK -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <!-- LOGIN WITH GARDENING MANAGER SERVER USING LOCAL ACCOUNTS -->
    <permission android:name="org.gots.android.locationapi.maps.permission.MAPS_RECEIVE" android:protectionLevel="signature"/>

    <uses-permission android:name="org.gots.android.locationapi.maps.permission.MAPS_RECEIVE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_SYNC_STATS"/>

    <uses-feature android:name="android.hardware.camera" android:required="false"/>

    <uses-permission android:name="com.android.vending.BILLING"/>

    <uses-feature android:glEsVersion="0x00020000" android:required="true"/>
    <!--
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
           android:debuggable="true" 
    -->

    <application android:allowBackup="true" android:debuggable="true" android:icon="@drawable/launcher" android:label="@string/app_name" android:name="org.gots.context.SimpleGotsApplication" android:theme="@style/Theme.Styled">
        <activity android:label="@string/app_name" android:name=".ui.SplashScreenActivity" android:theme="@style/Theme.Styled">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.GardenActivity" android:theme="@style/Theme.Styled" android:uiOptions="splitActionBarWhenNarrow"/>
        <activity android:name=".ui.MainActivity" android:theme="@style/Theme.Styled">
        </activity>
        <activity android:name=".ui.SensorActivity" android:theme="@style/Theme.Styled">
        </activity>
        <activity android:name=".ui.ProfileActivity" android:theme="@style/Theme.Styled" android:uiOptions="splitActionBarWhenNarrow">
        </activity>
        <activity android:name=".ui.ActionActivity" android:theme="@style/Theme.Styled" android:uiOptions="splitActionBarWhenNarrow"/>
        <activity android:name=".ui.AboutActivity" android:theme="@style/Theme.Styled"/>
        <activity android:name=".ui.WebHelpActivity" android:theme="@style/Theme.Styled"/>
        <activity android:name=".ui.TabSeedActivity" android:theme="@style/Theme.Styled" android:uiOptions="splitActionBarWhenNarrow">
         <intent-filter>
                <data android:host="my.gardening-manager.com" android:scheme="http"/>

                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
            </activity>
        <activity android:name=".ui.RecognitionActivity"/>
        <activity android:name=".ui.HutActivity" android:theme="@style/Theme.Styled" android:uiOptions="splitActionBarWhenNarrow" android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity android:name=".ui.NewSeedActivity" android:theme="@style/Theme.Styled" android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity android:name=".ui.AccountList" android:theme="@style/Theme.Styled"/>
        <activity android:name=".authentication.AuthenticationActivity" android:theme="@style/Theme.Styled"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" android:name="com.google.ads.AdActivity"/>
        <activity android:name=".ui.PreferenceActivity" android:theme="@style/Theme.Styled"/>

        <provider android:authorities="org.gots.providers.sensor" android:label="@string/dashboard.sensor.name" android:name="org.gots.provider.SensorContentProvider" android:syncable="true"/>
        <provider android:authorities="org.gots.providers.seeds" android:label="@string/dashboard.hut.name" android:name="org.gots.provider.SeedsContentProvider" android:syncable="true"/>
        <provider android:authorities="org.gots.providers.garden" android:label="@string/dashboard.profile.name" android:name="org.gots.provider.GardenContentProvider" android:syncable="true"/>
        <provider android:authorities="org.gots.providers.actions" android:label="@string/dashboard.actions.name" android:name="org.gots.provider.ActionsContentProvider" android:syncable="true"/>
        <provider android:authorities="org.gots.providers.allotment" android:label="@string/dashboard.allotments.name" android:name="org.gots.provider.AllotmentContentProvider" android:syncable="true"/>
        <provider android:authorities="org.gots.providers.weather" android:label="@string/dashboard.weather.name" android:name="org.gots.provider.WeatherContentProvider" android:syncable="true"/>

        <receiver android:name=".service.BootBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".action.service.ActionTODOBroadcastReceiver">
        </receiver>
        <receiver android:name=".garden.GardenManager">
            <intent-filter android:priority="100">
                <action android:name="org.gots.broadcast.BroadCastMessages.CONNECTION_SETTINGS_CHANGED"/>
            </intent-filter>
        </receiver>
        

        <service android:name=".action.service.ActionNotificationService"/>
        <service android:name=".weather.service.WeatherUpdateService"/>
        <service android:exported="true" android:name=".seed.service.SeedSyncService">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>

            <meta-data android:name="android.content.SyncAdapter" android:resource="@xml/sync_adapter_seed"/>
        </service>
        <service android:exported="true" android:name=".garden.service.GardenSyncService">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>

            <meta-data android:name="android.content.SyncAdapter" android:resource="@xml/sync_adapter_garden"/>
        </service>
        <service android:exported="true" android:name=".allotment.service.AllotmentSyncService">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>

            <meta-data android:name="android.content.SyncAdapter" android:resource="@xml/sync_adapter_allotment"/>
        </service>
        <service android:exported="true" android:name=".sensor.service.SensorSyncService">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>

            <meta-data android:name="android.content.SyncAdapter" android:resource="@xml/sync_adapter_sensor"/>
        </service>
        <service android:exported="true" android:name=".action.service.ActionsSyncService">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>

            <meta-data android:name="android.content.SyncAdapter" android:resource="@xml/sync_adapter_actions"/>
        </service>
        <service android:exported="true" android:name=".weather.service.WeatherSyncService">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>

            <meta-data android:name="android.content.SyncAdapter" android:resource="@xml/sync_adapter_weather"/>
        </service>
        <service android:name=".allotment.service.AllotmentNotificationService"/>
        <service android:name=".authentication.GotsAuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>

            <meta-data android:name="android.accounts.AccountAuthenticator" android:resource="@xml/authenticator"/>
        </service>

        <!-- RELEASE KEY -->
   <meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyAtaIJvzohVEECxELeBtNaS2T86diBVX9U"/>
        <!-- DEBUG KEY -->
         <!--<meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyDFN2ftNk8NqYwMCyjUV5ryM4zUdmqcWXI"/>    -->

    </application>

</manifest>